<?xml version="1.0"?>

<launch>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="ce30c_output"/>

        <param name="max_height" value="10.0"/>
        <param name="min_height" value="-10.0"/>

        <param name="range_max" value="4.0" />
        <param name="range_min" value="0.1" />

    </node>

</launch>
