<?xml version="1.0"?>

<launch>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="velodyne_points"/>
        <remap from="scan" to="scan"/>

        <param name="max_height" value="0.1"/>
        <param name="min_height" value="-0.1"/>

        <param name="range_max" value="10.0" />
        <param name="range_min" value="0.15" />

        <param name="angle_increment" value="π/360" />

    </node>

    <node pkg="tf"
          type="static_transform_publisher"
          name="base_link_to_velodyne"
          args="0 0 0 0 0 0 /base_link /velodyne  10"/>

</launch>
